{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            {% if (message|default(false)) %}
                <div class="alert alert-success">
                    <strong>{{ success_message }}</strong>
                </div>
            {% endif %}
            {% for user in users|default([]) %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>
                                {{ user.email }}
                            </h2>
                            <p>
                                {{ user.fullName }}
                            </p>
                            <p>
                                Role(s):
                                {% for role in user.roles %}
                                    {{ role }}
                                {% endfor %}
                            </p>
                            <a class="btn btn-danger btn-xs" href={{ path('user_delete', {'id': user.id})}}>Delete</a>
                        </header>
                    </article>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
