{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            {% if (error|default(false)) %}
            <div class="alert alert-danger">
                <strong>{{ error_message }}</strong>
            </div>
            {% else %}
            <div class="form-group">
                <form id="sortBox" method="get" action={{ path('blog_index') }}>
                    <select class="form-control" name="sort_by" id="selectSort" onchange="this.form.submit();">
                        <option value="oldest" {% if selectedSort == 'oldest' %}selected{% endif %}>Oldest</option>
                        <option value="newest" {% if selectedSort == 'newest' %}selected{% endif %}>Newest</option>
                    </select>
                </form>
            </div>

            {% for article in articles|default([]) %}
                <div class="col-md-6">
                    <article>
                        <header>
                            <h2>
                                {{ article.title }}
                            </h2>
                            <p>
                                {{ article.summary }}
                            </p>

                            <small class="author">
                                {{ article.author.getFullName() }}
                            </small>

                            <footer>
                                <p>
                                    tags:&nbsp;&nbsp;&nbsp;
                                    {% for tag in article.tags %}
                                        <a href="{{ path('articles_with_tag', {'tag': tag.name}) }}">{{ tag.name }}</a>
                                    {% endfor %}
                                </p>

                                <div class="pull-right">
                                    <a class="btn btn-default btn-xs"
                                       href="{{ path('article_show',
                                       {'id': article.id}) }}">Read More</a>
                                </div>
                            </footer>
                        </header>
                    </article>
                </div>
            {% endfor %}
        </div>
        {% endif %}
    </div>
{% endblock %}
