extends ../layout

block main-content
  .container.body-content(class='span=8 offset=2')
    .well
      - let editLink = '/article/edit/' + article.id
      form.form-horizontal(method='post', action=editLink)
        fieldset
          legend Edit Post
            .form-group
              label.col-sm-4.control-label Post Title
              .col-sm-4
                input#postTitle.form-control(type='text', placeholder='Post Title' name='title' value=article.title)
            .form-group
              label.col-sm-4.control-label Content
              .col-sm-6
                textarea#postContent.form-control(rows='5' name='content')= article.content
            .form-group
              label.col-sm-4.control-label(for='category') Category
              .col-sm-6
                select#select.form-control(name='category')
                  for category in categories
                    option(value=category.id)= category.name
            .form-group
              label.col-sm-4.control-label(for='tags') Tags
              .col-sm-4
                input#tags.form-control(type='text', name='tags', value=tags)
            .form-group
              .col-sm-4.col-sm-offset-4
                button.btn.btn-default(type='reset') Cancel
                input.btn.btn-info(type='submit' value='Edit')
