{% extends 'base.html.twig' %}

{% block main %}

    <div class="container body-content">
        <div class="row">
            <div class="col-md-12">
                <article>
                    <header>
                        <h2>
                            {{ article.title | default('') }}
                        </h2>
                        <p>
                            {{ article.content | default('') }}
                        </p>

                        <small class="author">
                            {{ article.author.getFullName() | default('') }}
                        </small>

                        <footer>
                            <div class="pull-right">
                                <a class="btn btn-danger" href={{ path('article_delete', {'id': article.id}) }}>Delete</a>
                                <a class="btn btn-primary" href={{ path('article_edit', {'id': article.id}) }}>Edit</a>
                                <a class="btn btn-default btn-xs" href="#">Back</a>
                            </div>
                        </footer>
                    </header>
                </article>

                {% if (error|default(false)) %}
                    <div class="alert alert-danger">
                        <strong>No such article!</strong>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
