extends ../../layout

block main-content
  .container.body-content
    .well
      h2 All Users
      .row
        table.table.table-striped.table-hover
          thead
            tr
              th #
              th Full Name
              th Email
              th Actions
          tbody
          for user in users
            - let isAdminClass = user.isAdministrator === true ? 'info' : ''
            tr(class=isAdminClass)
              td= user.id
              td= user.fullName
              td= user.email
              td
                - let editRoute = '/admin/user/' + user.id + '/edit'
                - let deleteRoute = '/admin/user/' + user.id + '/delete'
                
                a(href=editRoute) Edit
                a(href=deleteRoute) Delete
            